@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
    background: url('img/intro_island.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* min-width: 100vh; */
    /* height: 100%; */
    overflow-x: hidden;
}

nav {
  height: 120px;
  width: 100%;
}

.hamburger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 30px;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background-color: rgb(249, 248, 248);
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  border-radius: 30px;
  padding: 7px 13px;
}

a.active,
a:hover {
  background: #fff;
  transition: .5s;
  color: #333;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 992px) {
  .checkbtn {
    display: block;
  }

  nav ul {
    margin-top: 30px;
    position: absolute;
    width: 100%;
    /* height: 100vh; */
    top: 60px;
    left: -100%;
    /* right: 2rem; */
    text-align: center;
    transition: all .5s;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;

  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: white;
    color: #333;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}


.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* background: url('img/intro_pulau.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}

#text {
    position: absolute;
    font-size: 6.5em;
    color: #cfcfcf;
    text-shadow: 2px 4px 5px #1b283a;
    transform: translateY(-150px);
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    /* margin-bottom: 100px; */
}

.parallax img#dragon-left {
    position: fixed;
    transform: translateX(-282px);
}

.parallax img#enemy-right {
    position: fixed;
    transform: translateX(305px); 
}

.parallax img#grass {
    position: relative;
    transform: translateY(-50px);
}

.sec {
    /* margin-top: 100px; */
    position: relative;
    background: #020912;
    padding: 30px;
    height: 100%; /* Ubah nilai height sesuai kebutuhan */
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    text-align: justify;
}





